body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #5f9fa6
}

hr {
  border-top: 3px solid #0e393d;
  max-width: 65px;
    margin-left: auto;
    margin-right: auto;
}

.buffer {
  height: 15rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #236E75;
  border-color: #236E75;
}

.btn-primary:hover {
  background-color: #91C6CB;
  border-color: #91C6CB;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}